@{
    ViewBag.Title = "Thanks";
}

<div class="contact-form">
    <div class="container">
        <h2>Thanks!</h2>
        <p>Your submission has been received.  If approved, you'll see it on the map and in the list soon!</p>
    </div>
</div>

